    body {
        /*direction: rtl;*/
    }
    
    .microEditor {
        position: relative;
    }
    
    .microEditor .editor {
        /*background-color: #eee;*/
        outline: none;
        border: 1px solid #bbb;
        border-radius: 2px;
        padding: 5px;
        transition: all .5s;
    }
    
    .microEditor .editor:hover,
    .microEditor .editor:focus {
        background-color: #fafafa;
    }
    
    .microEditor .toolbar {
        transition: all .5s;
    }
    
    .microEditor.onfocus .toolbar.top {
        top: -25px;
    }
    
    .microEditor.onfocus .toolbar.bottom {
        bottom: -25px;
    }
    
    .microEditor.onfocus .toolbar {
        background-color: rgba(255, 255, 255, .6);
        position: absolute;
        border-radius: 2px;
        visibility: hidden;
        opacity: 0;
    }
    
    .microEditor.focused .toolbar {
        visibility: visible;
        opacity: 1;
    }
    
    .microEditor .button-container {
        display: inline-block;
        position: relative;
    }
    
    .microEditor .button-container>.dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 20px;
        overflow: auto;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .6);
        z-index: 21;
        border-radius: 2px;
    }
    
    .microEditor .button-container>.show {
        display: block;
    }
    
    .microEditor .button-container>.dropdown-content a {
        color: black;
        padding: 6px 10px;
        text-decoration: none;
        display: block;
        font: 11px tahoma;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 2px;
    }
    
    .microEditor .button-container>.dropdown-content a:hover {
        background-color: #077;
        color: white;
    }
    
    .microEditor button {
        background-color: transparent;
        border: 1px solid transparent;
        outline: none;
        border-radius: 5px;
        padding: 5px 7px;
        /*color: #700;*/
        margin-bottom: 2px;
        cursor: pointer;
        transition: all .5s;
    }
    
    .microEditor button i {
        font-size: 12px;
    }
    
    .microEditor button:hover {
        border-top-color: #ccc;
        border-bottom-color: #ccc;
        background-color: #fafafa;
    }
    
    .microEditor button.highlight {
        background-color: #eee;
    }
    
    .microEditor button[disabled],
    .microEditor button.highlight[disabled] {
        color: #aaa;
        background-color: transparent;
        cursor: default;
        border-color: transparent;
    }
    
    .onfocus button {
        opacity: 0;
        transition: opacity .5s;
    }
    
    .focused button {
        opacity: 1;
    }
    /* tooltip pointer */
    
    .microEditor button[tip]:not([disabled]):before {
        transition: all .5s;
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: 4px solid transparent;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        left: 9px;
        bottom: 0px;
        visibility: hidden;
    }
    
    .microEditor button[tip]:not([disabled]):hover:before {
        border-bottom: 4px solid #077;
        visibility: visible;
    }
    /* tooltip body */
    
    .microEditor button[tip]:not([disabled]):after {
        transition: all .5s;
        content: attr(tip);
        padding: 4px 8px;
        position: absolute;
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        background-color: transparent;
        color: transparent;
        border-radius: 3px;
        visibility: hidden;
    }
    
    .microEditor button[tip]:not([disabled]):hover:after {
        background-color: #077;
        color: #fff;
        visibility: visible;
    }